@font-face {
    font-family: Quicksandbold;
    src: url(../Font/Quicksand-Bold.ttf);
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('../pic/background.png') no-repeat center center fixed; 
    background-size: cover;
    font-family: 'Quicksandbold';
    font-size: 23px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-family: 'Quicksand';
}


.logo img {
    height: 100px;  
    width: auto; 
}

header .logo {
    font-size: 30px;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 40px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:active {
    color: blue; 
}

.name {
    height: 16vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.social {
    position: fixed;
    top: 50%;
    right: 10px;    
    transform: translateY(-50%);
}

.social a {
    display: block;
    margin-bottom: 10px;
}

.social img {
    width: 40px;
    height: 40px;
}

.contact-link a {
    border: 1.7px solid #FFFFFF; 
    padding: 10px 20px; 
    border-radius: 30px; 
    color: white; 
    text-decoration: none;
}



