@font-face {
  font-family: Quicksandbold;
  src: url(../Font/Quicksand-Bold.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(../Font/Montserrat-Bold.ttf);
}

* {
  margin: 0;
}

header {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url("../pic/background.png") no-repeat center center fixed;
  background-size: cover;
  font-family: "Quicksandbold";
  font-size: 23px;
  width: auto;
  height: 800px;
  gap: 0px;
  opacity: 0px;
}

.topheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-family: "Quicksand";
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.menu .menulist {
  list-style: none;
  display: flex;
}

.logo img {
  height: 100%;
  width: auto;
}

.topheader .logo {
  font-size: 30px;
  color: white;
}

.menu .menulist .menuitem {
  margin-left: 100px;
}

.menu .menulist .contact-link {
  margin-left: 40px;
}

.menu .menulist .menuitem .menulink {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.menu .menulist .contact-link .menulink {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.menu .menulist .menuitem .menulink:active {
  color: blue;
}

.menu .menulist .contact-link .menulink:active {
  color: blue;
}

.title {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.social {
  position: fixed;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.social a {
  display: block;
  margin-bottom: 10px;
}

.social img {
  width: 40px;
  height: 40px;
}

.contact-link .menulink {
  border: 1.7px solid #ffffff;
  padding: 10px 20px;
  border-radius: 30px;
  color: white;
  text-decoration: none;
}

.introduction {
  width: flex;
  height: 800px;
  gap: 0px;
  opacity: 0px;
  background-color: white;
}

.name {
  height: 24vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #220440;
  text-align: center;
  font-family: "Quicksand";
  font-size: 20px;
  font-family: "Quicksandbold";
}

.teamreview {
  background-color: white;
  height: 700px;
}

.intro img {
  position: relative;
  width: flex;
  height: flex;
  top: 10px;
  left: -5%;
  gap: 0px;
  opacity: 0px;
  order: 1;
}

.script {
  position: absolute;
  order: 2;
  width: 30%;
  height: 300px;
  left: 67%;
  transform: translateX(-50%);
  top: 40%;
  background: #6823cf;
  color: white;
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  padding: 20px;
  font-family: "Quicksand";
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-section {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background1 {
  position: absolute;
  left: 25%;
  gap: 0px;
  opacity: 0.1px;
  width: 200px;
  height: 200px;
  top: 60%;
  z-index: -1;
}

.background2 {
  position: absolute;
  left: 15%;
  width: 20%;
  height: auto;
  top: 10%;
  display: inline;
}

.background3 {
  position: absolute;
  left: 85%;
  width: auto;
  height: auto;
  top: 5%;
}

.service {
  width: 100%;
  height: 100%;
  gap: 0px;
  opacity: 0px;
  background-color: #f0fcfc;
}

.services-section {
  text-align: center;
  padding: 40px 20px;
}

.services-title {
  font-size: 36px;
  color: #333;
  margin-bottom: 30px;
  font-family: "Quicksandbold";
}

.services-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.service-item {
  width: 20%;
  padding: 20px;
  border-radius: 8px;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
  font-family: "Quicksandbold";
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

.service-item img {
  width: 100%;
  height: auto;
  max-height: 120px;
}

.service-item p {
  font-size: 16px;
  color: #555;
  margin-top: 10px;
}

.service-item:hover {
  transform: scale(1.05);
}

.community {
  text-align: center;
  /* padding: 20px; */
  background-color: white;
  width: auto;
  height: auto;
  gap: 0px;
  opacity: 0px;
}

.top-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* padding-left: 10%; */
}

.title-commu {
  margin-left: 18%;
  display: flex;
  align-items: center;
  width: 453px;
  /* margin-bottom: 0; */
  font-size: 36px;
  font-family: "Quicksandbold";
  line-height: 46px;
  text-align: left;
}

.title-commu2 {
  display: none;
}

.line-title-commu {
  padding-left: 20%;
}

.statistics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: auto;
  margin: auto;
  padding-bottom: 20px;
  font-family: "Montserrat";
}

.stat-item {
  flex: 1 1 25%;
  text-align: center;
  font-size: 16px;
  margin: 50px;
}

.stat-item span {
  font-size: 40px;
}

.image-slider {
  position: relative;
  width: auto;
  height: auto;
  /* width: 100%; */
  max-width: auto;
  margin: 20px;
  /* overflow: hidden; */
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50);
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1;
  z-index: 5;
  transition: all 0.2s linear;
}

.slick-arrow:hover {
  background-color: #2cccff;
  color: white;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.slider-image-container img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 12px;
}

.image-text {
  position: absolute;
  bottom: 0%;
  width: 100%;
  color: white;
  text-align: center;
  background: linear-gradient(180deg, rgba(28, 2, 51, 0) 0%, #1c0233 100%);
  padding: 10px 0;
  font-family: "Quicksand";
}

.image-text .title-slider,
.image-text .des-slider {
  /* margin: 20px 0; */
}

.decorative-line {
  position: absolute;
  bottom: 10%;
  left: 41%;
  width: 17%;
}

.category-icons {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  gap: 15px;
  margin-top: -1%;
  overflow-x: auto;
  scrollbar-width: none;
}

.category-icons::-webkit-scrollbar {
  display: none;
}

.category-item {
  display: flex;
  align-items: center;
  width: 6%;
  flex: 0 0 auto;
  margin-right: 15px;
}

.category-item img {
  width: 28px;
  height: auto;
}

.category-name {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  margin-top: 5px;
  margin-left: 5%;
  text-align: center;
  font-family: "Quicksand";
  color: #262626;
}

.category-name::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #00bfff;
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.category-name:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Responsive adjustments */
/* @media (max-width: 768px) {
  .statistics {
    flex-direction: column;
  }
} 

/* Media Query for devices with a width of 1415px */
@media only screen and (max-width: 1415px) {
  /* header,
  .service,
  .introduction, */
  .teamreview {
    width: 100%;
  }

  .teamreview {
    background-color: white;
    height: 700px;
  }

  .topheader {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .logo img {
    width: 80px;
    height: 80px;
  }

  .menu .menulist {
    justify-content: center;
  }

  .menu .menulist .menuitem,
  .menu .menulist .contact-link {
    margin-left: 20px;
  }

  .menu .menulist .menuitem .menulink,
  .menu .menulist .contact-link .menulink {
    font-size: 14px;
  }

  .title {
    font-size: 18px;
    padding-top: 20px;
  }

  .social {
    position: fixed;
    top: 35%;
    right: 20px;
    transform: none;
    z-index: 1;
  }

  .social img {
    width: 30px;
    height: 30px;
  }

  .name,
  .script {
    font-size: 14px;
  }

  .intro img {
    height: auto;
    left: auto;
    width: 100%;
  }

  .script {
    /* top: -10px; */
    width: 100%;
    height: auto;
    left: 45%;
    top: 50%;
    font-size: 14px;
    /* transform: translateX(-2%); */
  }

  .background1,
  .background2,
  .background3 {
    width: 15%;
    height: 15%;
    top: 180%;
    display: none;
  }

  .background2,
  .background3 {
    display: none;
  }

  .service {
    width: flex;
    height: auto;
    gap: 0px;
    opacity: 0px;
    background-color: #f0fcfc;
  }

  .category-item {
    width: auto;
  }
  .bottom-slider .image-text {
    font-size: 55%;
  }

  .decorative-line {
    position: absolute;
    bottom: 15%;
    left: 41%;
    width: 17%;
  }
}

/* Media Query for devices with a width of 770px */
@media only screen and (max-width: 770px) {
  .topheader {
    /* position: relative; */
  }

  .content-section {
    width: flex;
    height: 375;
  }

  .menu-icon {
    display: block;
    /* position: absolute; */
    top: 0%;
    right: 5%;
    z-index: 1000;
    cursor: pointer;
  }

  .menu {
    display: none;
  }

  .menu .menulist {
    display: none;
    flex-direction: column;
    width: auto;
    position: relative;
    background: #2a2f36;
    top: 0%;
    right: 100%;
    padding: 20px 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    border-top: 4px solid white;
  }

  .menu .menulist.show {
    display: none;
    animation: slideDown 0.3s ease-out forwards;
  }

  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-20%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .menu .menulist .menuitem {
    margin: 10px 0;
    text-align: center;
  }

  .menu .menulist .contact-link {
    margin: 10px 0;
    text-align: center;
  }

  .menu .menulist .menuitem,
  .menu .menulist .contact-link {
    margin: 10px 20px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    transition: background-color 0.3s;
  }

  .menu .menulist .menuitem a,
  .menu .menulist .contact-link a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
  }

  .menu .menulist .menuitem:hover,
  .menu .menulist .contact-link:hover {
    background-color: 3B4149;
  }

  .top-info {
    flex-direction: column;
  }

  .line-title-commu img {
    width: 100%;
    margin-top: 20px;
  }

  .bottom-slider {
    font-size: 5%;
  }

  .slider-image-container img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 12px;
  }
  .decorative-line {
    position: absolute;
    bottom: 15%;
    left: 41%;
    width: 17%;
  }

  .script {
    /* top: 30%; */
    width: auto;
    height: auto;
    left: 0%;
    top: auto;
    font-size: 12px;
    /* transform: translateX(-2%); */
    transform: translateY(-50%);
  }

  .services-container {
    flex-direction: column;
  }

  .teamreview {
    background-color: white;
    height: auto;
  }

  .content-section {
    /* position: relative; */
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro img {
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    gap: 0px;
    opacity: 0px;
    order: 1;
    display: flex;
    align-items: center;
  }

  .title {
    font-size: 15px;
    padding-top: 5%;
  }

  .service-line img {
    width: 100%;
    /* font-size: 10%; */
  }

  .services-title {
    margin-top: 20%;
    font-size: 22px;
  }

  .service {
    width: 100%;
    height: 100%;
    gap: 0px;
    opacity: 0px;
    background-color: #f0fcfc;
  }

  .services-section {
    text-align: center;
    padding: 40px 20px;
  }

  .services-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .service-item {
    width: 20%;
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
    transition: transform 0.3s ease-in-out;
    font-family: "Quicksandbold";
    font-size: 16px;
    line-height: 26px;
    text-align: center;
  }

  .service-item img {
    width: 100%;
    height: auto;
    max-height: 120px;
  }

  .service-item p {
    font-size: 16px;
    color: #555;
    margin-top: 10px;
  }

  .name {
    height: 24vh;
    font-size: 16px;
  }

  .intro-line img {
    width: 100%;
  }

  .title-commu {
    width: auto;
    font-size: 22px;
    display: none;
  }

  .title-commu {
    display: none;
  }

  .title-commu2 {
    display: flex;
    align-items: center;
    font-size: 26px;
    font-family: "Quicksandbold";
    line-height: 46px;
    text-align: center;
    width: 100%;
  }

  .intro-title {
    font-size: 22px;
  }

  .slick-arrow {
    width: 35px;
    height: 35px;
    font-size: 10px;
  }

  .category-item {
    width: 30%;
    margin-right: 3%;
  }

  .category-item:last-child {
    margin-right: 0;
  }

  .category-icons {
    justify-content: flex-start;
  }
}
