@font-face {
    font-family: Quicksandbold;
    src: url(../Font/Quicksand-Bold.ttf);
}

header {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('../pic/background.png') no-repeat center center fixed; 
    background-size: cover;
    font-family: 'Quicksandbold';
    font-size: 23px;
}

.topheader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-family: 'Quicksand';
}


.logo img {
    height: 100px;  
    width: auto; 
}

.topheader .logo {
    font-size: 30px;
    color: white;
}

.menu .menulist {
    list-style: none;
    display: flex;
}

.menu .menulist .menuitem {
    margin-left: 40px;
}

.menu .menulist .contact-link {
    margin-left: 40px;
}

.menu .menulist .menuitem .menulink {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu .menulist .contact-link .menulink {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu .menulist .menuitem .menulink:active {
    color: blue; 
}

.menu .menulist .contact-link .menulink:active {
    color: blue; 
}

.title {
    height: 16vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.social {
    position: fixed;
    top: 50%;
    right: 10px;    
    transform: translateY(-50%);
}

.social a {
    display: block;
    margin-bottom: 10px;
}

.social img {
    width: 40px;
    height: 40px;
}

.contact-link .menulink {
    border: 1.7px solid #FFFFFF; 
    padding: 10px 20px; 
    border-radius: 30px; 
    color: white; 
    text-decoration: none;
}

.introduction {
    width: 1440px;
    height: 800px;
    gap: 0px;
    opacity: 0px;
}

.name {
    height: 24vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #220440;
    text-align: center;
    font-family: 'Quicksand';
    font-size: 20px;
    font-family: 'Quicksandbold';
}


.intro {
    position: relative;
    width: flex;
    height: flex;
    top: 10px;
    left: 450px;
    gap: 0px;
    opacity: 0px;

}

.script{
    position: absolute;
    width: 500px;
    height: 300px;
    left: 50%;
    top: 180%;
    background: #6823CF;
    color: white;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    padding: 30px 30px; 
    font-family: 'Quicksand';
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.background1{
    position: absolute;
    left: 17%;
    gap: 0px;
    opacity: 0.1px;
    width: 200px;
    height: 200px;
    top: 190%;
    z-index: -1;
}


.background2{
    position: absolute;
    left: 19%;
    width: 200px;
    height: 200px;
    top: 160%;
}

.background3{
    position: absolute;
    left: 85%;
    width: 200px;
    height: 200px;
    top: 150%;
}

